.conpass {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
    margin-top: 4rem;
}

.forgot-emails {
    display: flex;
    margin: 5vw auto;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-right: 6vw;
    background-color: rgba(213, 210, 210, 0.669);
    outline: none;
    border: none;
}

.forgot-emails input {
    font-size: 4vw;
    width: 88vw;
    margin: 0rem auto;
    padding: 0.9rem 6vw;
    background-color: transparent;
    font-family: FilsonPro-Medium, sans-serif;
    border-radius: 0.8rem;
    outline: none;
    border: none;
}