@media screen and (max-width : 768px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-content: center;
        height: 100vh;
    }

    .signin_btns {
        padding: 0.3rem 4rem;
        margin: 0rem auto;
        background-color: #0B3C49;
        text-align: center;
        font-family: inter;
        border-radius: 14px;
        font-size: 6vw;
        color: white;
        display: block;
        z-index: 2;
    }
}