@media screen and (max-width :768px) {
    .home_container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        transition: background-image 1s ease;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
  
        overflow: hidden;
      }      
      /* center center/cover no-repeat; */
      .logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* background-image: url("/public/images.png"); */
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 9999;
        transition: opacity 1s ease-in-out; 
    }
    .logo.hidden {
        opacity: 0;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .signupbtn {
        padding: 0.5rem 3rem;
        margin: 1rem auto; 
        background-color: rgba(11, 26, 35, 0.851);
        text-align: center;
        font-family: "Public Sans", sans-serif;
        border-radius: 2rem;
        font-size: 1.5rem;
        color: white;
        display: block; 
    }
   
    .signinbtn {
        padding: 0.5rem 3rem;
        margin: 0rem auto; 
        background-color: rgb(249, 247, 245);
        text-align: center;
        font-family: "Public Sans", sans-serif;
        border-radius: 2rem;
        font-size: 1.5rem;
        display: block; 
        color: black;
    }
    a {
        text-decoration: none;

    }
    .home_container2 {
        margin: 2rem 0;
        gap: 1rem;
        display: flex;
        padding: 2rem 0;
        flex-direction: column;
        position: absolute;
        bottom: 10rem;
        
    }
}