@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Josefin+Sans:wght@200&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@1,330&family=Poppins:ital,wght@0,300;1,200&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@media screen and (max-width :768px) {
    .home_container {
        position: relative; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        transition: background-image 1s ease;
        font-family: FilsonPro-Medium, sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: rgba(132, 202, 255, 1); */
        background: linear-gradient(180deg, white 0%, white 40%, lightskyblue 60%, lightskyblue 100%);
        /* background-color: lightcyan; */
        overflow: hidden;
    }
    .home_container8{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100dvh;
        width: 100%;
    }

    /* .home_container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(2, 44, 62, 0.843); 
        z-index: -1; 
    } */
      /* .logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 9999;
        transition: opacity 1s ease-in-out; 
    } */
    /* @keyframes smartAnimate {
        0% {
            opacity: 2;
            
        }
        100% {
            opacity: 0;
            
        }
    } */
    @keyframes slideOut {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(-100%);
        }
 }
 @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  
  .signinbtn.animate {
    animation-name: slideOut;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
  }
  
      
     .signupbtn.animate {
        animation-name: slideOut;
        animation-duration: 700ms;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-fill-mode: forwards;
       
      }
    /* .signupbtn.animate {
        animation-name: fadeInUp;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    } */
    .home_container h1 img{
   
        font-family: FilsonPro-Medium, sans-serif;
        font-size: 15vw;
        z-index: 9999; 
        display: flex;
        margin: 0 auto;
        width: 50%;
        right: 24vw;
        height: auto; /* Maintain aspect ratio */
        display: block; /* Make the image a block element */
        position: fixed;
        top: 20%;
    }
    .home_container h1 {
        display: flex;
        align-items: center;
       margin: 0rem auto;
        width: 60vw; /* Set a fixed width for the container */
     /* Set a fixed height for the container */
        overflow: hidden; /* Hide any content that overflows the container */
        position: relative; 


    }
    .logo.hidden {
        opacity: 0;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    .signupbtn {
        padding: 0.4vw 3.5rem;
        margin: 0rem auto; 
        background-color: white;
        text-align: center;
        font-family: FilsonPro-Medium, sans-serif;
        font-weight: 600;
        border-radius: 0.7rem;
        font-size: 6vw;
        color: #8B452D;
        display: block; 
        z-index: 2;
        border: none;
    }
   
    .signinbtn {
        padding: 0.4vw 3.5rem;
        margin: 0rem auto; 
        background-color: #8B452D;
        text-align: center;
        font-family: FilsonPro-Medium, sans-serif;
        font-weight: 600;
        border-radius: 0.7rem;
        font-size: 6vw;
        display: block; 
        color: white;
        border: none;
    }
    a {
        text-decoration: none;

    }
    .home_container2 {
        display: flex;
        padding: 29.5vw 0vw;
        flex-direction: column;
        background-image: url("../Styles/college\ campus-bro\ \(1\)\ 1.svg");
        background-size: cover;
        align-items: center;
        background-position: center;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 110vw;
        filter: skyblue scale(100%);
    }
    .home_container4 {
        /* margin: 0rem 0;  */
        /* justify-content: space-between;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column; */
        gap: 5vw;
        display: flex;
        flex-direction: column;
    }
}