@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Josefin+Sans:wght@200&family=Montserrat:ital,wght@1,200&family=Poppins:ital,wght@0,300;1,200&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@media screen and (max-width: 768px){
    .review_container {
        width: 100%;
        font-family:"Public Sans", sans-serif;
        color: rgb(51, 75, 51);
        margin: 4rem auto;
        text-align: center;
    }
    .info_container {
       font-weight: 580;
       font-size: 1.3rem;
       margin: 1rem 0;
    }
    .info_container2 {
       display: block;
       font-weight: 900;
       font-size: 2.5rem;
       margin: 1rem;
     }
     .p {
        margin-bottom: 0rem;
        margin: 3rem 3rem;
     }
     .p p {
        font-size: 1.5rem;
        font-weight: 500;
     }
     .q p {
        font-size: 2rem;
        font-weight: 900;
     }
}