@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Josefin+Sans:wght@200&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@1,330&family=Poppins:ital,wght@0,300;1,200&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@media screen and (max-width : 768px) {
  .signup {
    color: rgb(51, 75, 51);
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/public/Empty street-bro (1) 2 (1).svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

  .signup h2 {
    font-size: 8vw;
    letter-spacing: 0.1rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 10px;
    font-family: "Public Sans", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 1.7rem auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .signup_btn {
    padding: 0.3rem 4rem;
    margin: 0 auto;
    background-color: #0B3C49;
    text-align: center;
    font-family: "Inter", sans-serif;
    border-radius: 14px;
    font-size: 6vw;
    color: white;
    font-weight: 600;
    border: none;
    display: block;
  }
  

.home-page .signup_btn {
  position: fixed;
  left: 50%;
   background-color: red;
  bottom: 50vh;
  animation-name: dropDown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes dropDown {
  from {
    bottom: 50vh;
  }
  to {
    bottom: 0;
  }
}
  .signup_btn:hover {
    transform: scale(1.1);
  }
  
  .signup_btn:active {
    transform: scale(0.9);
  }
  
  .signup_btn.home-page {
    animation-name: slideInFromTop;
    animation-duration: 1.3s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-50vh);
    }
    100% {
      transform: translateY(0%);
    }
  }
/* 
@keyframes fadeInUp {
    from {
        opacity: 0; 
        transform: translateY(50rem); 
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
} */



  .surname label {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0.02rem 1rem;
    justify-content: start;
    background-color: transparent;
    font-size: 4vw;
    align-items: start;
    text-align: start;
  }

  .surname {
    display: flex;
    margin: 1rem auto;
    width: 90%;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: first baseline;
  }
  .surnames {
    display: flex;
    margin: 0rem auto;
    width:  81%;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline
  }
  .surnamess {
    display: flex;
    margin: 0.4rem auto;
    width: 100%;
    height: 13vw;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 214, 214, 0.669);
  }
  .surnames label {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0rem 0rem;
    justify-content: start;
    background-color: transparent;
    font-size: 4vw;
    align-items: start;
    text-align: start;
  }
  .surnames input {
    font-size: 4vw;
    width: 80%;
    margin: rem 0rem;
    padding: 0.9rem 0rem;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    border-radius: 0.8rem;
    outline: none;
    border: none;
  }

  .surname input {
    font-size: 4vw;
    width: 91%;
    margin: 0.5rem 0rem;
    padding: 0.9rem 1rem;
    background-color: rgba(215, 214, 214, 0.669);
    font-family: "Inter", sans-serif;
    border-radius: 0.8rem;
    outline: none;
    border: none;
  }
  .btn {
    width: 90%;
    margin: 0.8rem auto;
    font-size: 4vw;
  }
  .btn-div21 {
    color: black; 
    margin-bottom: 2rem;
    font-weight: 450; 
    font-family: "Inter", sans-serif;
    font-size: 4.3vw;
    /* letter-spacing: 0.1vw;  */
    text-align: center;
}

  .btn-div21 span {
    color: rgba(11, 60, 73, 1);
    padding: 0rem 0.2rem;
    font-family: "Inter", sans-serif;
    font-size: 4.7vw;
    /* letter-spacing: 0.3vw; */
    font-weight: 600;
    text-align: center;
  }

  /* @keyframes moveText {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(calc(100vw - 100%));
    }

    100% {
      transform: translateX(0);
    }
  } */
/* 
  .error {
    animation: move 10s linear infinite;
    color: red;
    font-weight: 700;
    font-family: fantasy;
    letter-spacing: 1px;
  } */

}